body{ 
     width: 1518px;
     background-color: #eaece5;
     overflow-x: hidden;
}



.bloc{
    position: absolute;
    top: 200px;
    left: 825px;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #060c21;
    text-align: center;
    width: 400px;
}

.box{
    position: relative;
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:  #060c21;
}

.box:before{
content: '';
position: absolute;
top: -2px;
left: -2px;
right: -2px;
bottom: -2px;
background: #fff;
z-index: -1;
}

.box:after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
    }

    .box:before,
    .box:after{
      background: linear-gradient(235deg, #89ff00, #060c21, #00bcd4);
    }

        .rush{
            color: #fff;
            font-family: 'Alike';
            font-size: 30px;
           
        }
        .change{
            color: #fff;
            font-family: 'Alice';
            font-size: 21px;
        }
.pre1{
    background-color: rgba(255,255,255,0.4);
    position: absolute;
    width: 600px;
    top: 340px;
    left: 730px;
    font-family: 'Alice';
    font-size: 18px;
}

.img2{
    position: absolute;
    height: 500px;
    left: 200px;
    top: 170px;
    border-radius: 50%;
    transition: 0.6s;
    
}

.img2:hover{
    transform: scale(1.1);
    
}

.all .rush1{
    position: relative;
    left: 30px;
    bottom: 5px;
    font-family: 'Clicker Script';
    font-size: 35px;
    
}
.all{
    position: absolute;
    background-image: url(/app3.jpeg);
    width: 1518px;
    }

.list{
    position: absolute;
    top: 0px;
    left: 120px;
}

.lk{
list-style-type: none;
position: absolute;
left: 330px;
top: 5px;
padding-top: 15px;
width: 900px;
}

.lk li{
    display: inline-block;
    margin: 0px 20px;
    /* border: 2px solid rgb(25, 2, 54); */
}


.lk li a{
    text-decoration: none;
    color: black;
    padding: 5px 15px;
    transition: 0.9s ease;
    font-family: 'Alike';
    font-size: 23px;
    /* font-style: oblique; */
    
}

.lk li a:hover{
color: black;
background: rgba(12, 12, 12, 0.2);   
}

.educ{
    background-image: url(/app1.jpeg);
    width: 1518px;
    height: 1100px;
    position: absolute;
    top: 753px;
}

.cont{
    color: black;
}

.contt{
    color: black;
}

.educc{
    position: relative;
    margin: 50px auto;
    width: 1000px;
    padding: 0px 0px;
    box-sizing: border-box;
    top: -20px;
    

}

.educc ul{
    margin: 0px;
    padding: 0px;
}
.educc ul li{
    list-style: none;
    position: relative;
    width: 50%;
    padding: 0px 40px;
    box-sizing: border-box;
    margin: 0px auto;
}

.io{
    position: absolute;
    left: 49.6%;
    top: -10px;
    width: 10px;
    height: 628px;
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.1);
}

.educc ul li:nth-child(odd){
    float: left;
    text-align: right;
    clear: both;
    position: relative;
    top: -30px;
    
   
}

.educc ul li:nth-child(even){
    float: right;
    text-align: left;
    clear: both;
    position: relative;
    top: -30px;
}

.cont{
    padding: 20px;
}

.educc ul li:nth-child(odd)::before{
    content: '';
    position: absolute;
    top: 35px;
    right: -6px;
    width: 10px;
    height: 10px;
    background: rgba(36, 37, 42, 0.7);
    border-radius: 50%;
    box-sizing: 0 0 0 3px rgba(36, 37, 42, 1);
}

.educc ul li:nth-child(even)::before{
    content: '';
    position: absolute;
    top: 35px;
    left: -4px;
    width: 10px;
    height: 10px;
    background: rgba(36, 37, 42, 0.7);
    border-radius: 50%;
    box-sizing: 0 0 0 3px rgba(36, 37, 42, 1);
}

.educc ul li h3{
    margin: 0px;
    padding: 0px;
    font-weight: 550;
    color: black;
    font-family: 'Alike';
    font-size: 20px;
}

.educc ul li p{
    margin: 10px 0 0;
    padding: 0;
    font-family: 'Alice';
    font-size: 18px;
    
  
}

.educc ul li:nth-child(odd) .contt{
    position: absolute;
    top: 25px;
    right: -165px;
    padding: 8px 16px;
    background: rgba(0, 0, 0, 0.1);
    color: rgb(8, 5, 5);
    border-radius: 18px;
    /* box-shadow: 0 0 0 3px rgba(255,255,255,0.4); */
    
}

.educc ul li:nth-child(even) .contt{
    position: absolute;
    top: 25px;
    left: -165px;
    padding: 8px 16px;
    background: rgba(0, 0, 0, 0.1);
    color: black;
    border-radius: 18px;
}
.educc ul li .contt h4{
    margin: 0px;
    padding: 0px;
    font-family: 'Alike';
    font-size: 17px;
}

.educ .learn{
    color: black;
    text-align: center;
    font-family: 'Alike';
    font-size: 28px;
   
    
}
.project{
    background-color: #080808;
    width: 1518px;
    height: 700px;
    position: absolute;
    top: 1520px;
}

.project1{
    display: flex;
    width: 1280px;
    margin: 70px auto 0;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    top: 30px;
}

.project .b{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;
    
    
}

.project1 .b .d{
    overflow: hidden;
    
}

.project1 .b .d img{
    width: 300px;
    height: 300px;
    transition: 2s;
   
    
}

.project1 .b:hover .d img{
    transform: scale(1.2);
    
}

.project1 .b .e{
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: rgba(0,0,0,0.5);
    transition: 0.5s;
    transform: scaleX(0);  
}

.project1 .b:hover .e{
    transform: scaleY(1);
}

.project1 .b .e .f{
    position: absolute;
    top: 50%;
    text-align: center;
    padding: 15px;
    color: #fff;
    transform: translateY(-50%);
}

.project1 .b .e .f h3{
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    color: white;
    font-family: 'Alike';
    font-size: 20px;
}

.project1 .b .e .f p{
    margin: 10px 0 0;
    padding: 0px;
    font-family: 'Alice';
    font-size: 17px;
    
}

.mn{
    position: absolute;
    top: 20px;
    left: 720px;
    color: white;
    text-align: center;
    font-family: 'Alike';
    font-size: 28px;
    
}

.cert{
    position: absolute;
    top: 2000px;
    background-image: url(/app4.jpeg);
    width: 1518px;
    height: 510px;

}

.anim{
    position: absolute;
    
    border: 2px solid rgba(0,0,0,0.4);
    width: 550px;
    left: 150px;
    top: 100px;
    margin: 0px;
    padding: 0px;
}

.anim4{
    position: absolute;
    margin: 0px;
    border: 2px solid rgba(0,0,0,0.4);
    width: 550px;
    left: 150px;
    top: 270px;
    margin: 0px;
    padding: 0px;
}

.cert .skills1{
    position: absolute;
    top: 20px;
    left: 360px;
    font-family: 'Alike';
    font-size: 30px;
}

.skills{
    margin: 0px;
    position: relative;
    font-family: Alice;
    font-size: 14px;
}

.anim1{
    height: 20px;
    width: 50px;
    background-color: black;  
    /* box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3; */
    margin: 4px 5px;
    padding: 0px;
    position: relative;
    animation-name: try;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;  
    animation-fill-mode: forwards;
}
.anim1:hover{
    animation-play-state: paused;
}

@keyframes try{
    0%{width: 50px;}
    100%{width: 537px;}
}

.anim2{
    height: 20px;
    width: 50px;
    background-color: black;  
    margin: 4px 5px;
    padding: 0px;
    position: relative;
    animation-name: try1;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;  
    animation-fill-mode: forwards;
    
}
.anim2:hover{
    animation-play-state: paused;
}

@keyframes try1{
    0%{width: 50px;}
    100%{width: 537px;}
}
.anim3{
    height: 20px;
    width: 50px;
    background-color: dimgrey; 
    margin: 4px 5px;
    padding: 0px;
    position: relative;
    animation-name: try2;
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;  
    animation-fill-mode: forwards;
}

.anim3:hover{
    animation-play-state: paused;
}

@keyframes try2{
    0%{width: 50px;}
    100%{width: 537px;}
}


.skills2{
    position: absolute;
    top: 20px;
    left: 980px;
    font-family: 'Alike';
    font-size: 30px; 
}

.skills3{
    position: absolute;
    left: 800px;
    top: 95px;
    width: 570px;
    height: 318px;
    background-color: rgba(0, 0, 0, 0.1);
}

.fot{
    position: absolute;
    top: 2510px;
    background: rgba(0, 0, 0, 1);
    width: 1518px;
    height: 120px;

}

.fot ul{
    position: absolute;
    top: 0px;
    left: 560px;
    list-style-type: none;
    display: flex;
}

.fot ul li{
    margin: 0px 15px;
}

.fot ul li .fa{
    font-size: 45px;
    line-height: 50px;
    transition: .6s;
    color: black;
}

.fot ul li .fa:hover{
    color: #fff;
}

.fot ul li a{
    position: relative;
    background: #fff;
    
    display: block;
    width: 60px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    transition: .6s ease;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);

}

.fot ul li a:hover {
    transform: translate(0, -10px);
}

.fot ul li:nth-child(1) a:hover{
    background-color: #3b5999;
}

.fot ul li:nth-child(2) a:hover{
    background-color: #0077B5;
}

.fot ul li:nth-child(3) a:hover{
    background-color: #e4405f;
}

.fot ul li:nth-child(4) a:hover{
    background-color: #55acee;
}

.rush2{
    position: absolute;
    top: 40px;
    left: 630px;
    color: #fff;
    font-family: 'Clicker Script';
    font-size: 35px;
}

